:root {
    --brown-color: #864001;
    --dark-blue-color: #023047;
    --black-color: #070917;
    --light-blue-color: #E8F7FB;
    --white-color: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: raleway;
}

.menu_bar {
    background-color: var(--brown-color);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 5%;
}

.logo {
    color: var(--dark-blue-color);
    font-size: 30px;
}

.menu_bar ul {
    list-style: none;
    display: flex;
    position: relative;
}

.menu_bar ul li {
    margin-inline: 20px;
    position: relative;
    text-align: center;
    background-color: transparent;
    padding: 5px 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.menu_bar ul li span {
    color: var(--white-color);
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
}

.menu_bar ul li:hover {
    background-color: var(--light-blue-color);
}

.menu_bar ul li:hover span {
    color: var(--dark-blue-color);
}

ul.dropdown_menu,
ul.dropdown_menu-1,
ul.dropdown_menu2 {
    display: none;
    position: absolute;
    right: 70%;
    top: 100%;
    background-color: var(--black-color);
    padding-left: 0;
    border-radius: 10px;
    width: 150px;
}

ul.dropdown_menu2 {
    top: 110%;
    right: -60%;
}

ul.dropdown_menu-1 {
    left: 70%;
    right: 0;
}

/* .submenu_anchor:hover ul.dropdown_menu{
    display: block;
}
.submenu_anchor2:hover .dropdown_menu-1{
    display: block;
} */
.expand_icon {
    transform: rotate(180deg);
    transition: all 0.5s;
    color: var(--dark-blue-color);
}

.menu_bar ul.dropdown_menu li,
ul.dropdown_menu2 li {
    width: 150px;
    margin: 0;
    padding: 10px 10px;
}

.menu_bar ul.dropdown_menu li span,
ul.dropdown_menu2 li span {
    font-size: 14px;
    line-height: 1.2;
}

/* .menu_bar ul li:hover .dropdown_menu ul li {
    width: 140px;
    padding: 10px;
} */
.material-symbols-outlined {
    float: right;
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}
